<h1>Editing simthing</h1>

<% form_for(@simthing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @simthing %> |
<%= link_to 'Back', simthings_path %>