<h1>Listing simeasts</h1>

<table>
  <tr>
  </tr>

<% @simeasts.each do |simeast| %>
  <tr>
    <td><%= link_to 'Show', simeast %></td>
    <td><%= link_to 'Edit', edit_simeast_path(simeast) %></td>
    <td><%= link_to 'Destroy', simeast, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New simeast', new_simeast_path %>