<h1>Listing simups</h1>

<table>
  <tr>
  </tr>

<% @simups.each do |simup| %>
  <tr>
    <td><%= link_to 'Show', simup %></td>
    <td><%= link_to 'Edit', edit_simup_path(simup) %></td>
    <td><%= link_to 'Destroy', simup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New simup', new_simup_path %>