<h1>Editing simkey</h1>

<% form_for(@simkey) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @simkey %> |
<%= link_to 'Back', simkeys_path %>